In [7]:
from importlib import reload
import session14
reload(session14)

# Question 1

In [274]:
emp_it = session14.EmployeeIterator()
pif_it = session14.PersonalIterator()
ups_it = session14.UpdateIterator()
veh_it = session14.VehiclesIterator()

In [276]:
print(next(emp_it))
print(next(pif_it))
print(next(ups_it))
print(next(veh_it))

Employee(employer='Stiedemann-Bailey', department='Research and Development', employee_id='29-0890771', ssn='100-53-9824')
PersonalInfo(ssn='100-53-9824', first_name='Sebastiano', last_name='Tester', gender='Male', language='Icelandic')
UpdateStatus(ssn='100-53-9824', last_updated=datetime.datetime(2017, 10, 7, 0, 14, 42, tzinfo=datetime.timezone.utc), created=datetime.datetime(2016, 1, 24, 21, 19, 30, tzinfo=datetime.timezone.utc))
Vehicles(ssn='100-53-9824', vehicle_make='Oldsmobile', vehicle_model='Bravada', model_year=datetime.datetime(1993, 1, 1, 0, 0))

# Question2

In [3]:
x = session14.MergedIterable()
for _ in range(5):
    print(next(iter(x)))

AllData(ssn='100-53-9824', first_name='Sebastiano', last_name='Tester', gender='Male', language='Icelandic', employer='Stiedemann-Bailey', department='Research and Development', employee_id='29-0890771', vehicle_make='Oldsmobile', vehicle_model='Bravada', model_year=datetime.datetime(1993, 1, 1, 0, 0), created=datetime.datetime(2016, 1, 24, 21, 19, 30, tzinfo=datetime.timezone.utc), last_updated=datetime.datetime(2017, 10, 7, 0, 14, 42, tzinfo=datetime.timezone.utc))
AllData(ssn='101-71-4702', first_name='Cayla', last_name='MacDonagh', gender='Female', language='Lao', employer='Nicolas and Sons', department='Sales', employee_id='41-6841359', vehicle_make='Ford', vehicle_model='Mustang', model_year=datetime.datetime(1997, 1, 1, 0, 0), created=datetime.datetime(2016, 1, 27, 4, 32, 57, tzinfo=datetime.timezone.utc), last_updated=datetime.datetime(2017, 1, 23, 11, 23, 17, tzinfo=datetime.timezone.utc))
AllData(ssn='101-84-0356', first_name='Nomi', last_name='Lipprose', gender='Female', language='Yiddish', employer='Connelly Group', department='Research and Development', employee_id='98-7952860', vehicle_make='GMC', vehicle_model='Yukon', model_year=datetime.datetime(2005, 1, 1, 0, 0), created=datetime.datetime(2016, 9, 21, 23, 4, 7, tzinfo=datetime.timezone.utc), last_updated=datetime.datetime(2017, 10, 4, 11, 21, 30, tzinfo=datetime.timezone.utc))
AllData(ssn='104-22-0928', first_name='Justinian', last_name='Kunzelmann', gender='Male', language='Dhivehi', employer='Upton LLC', department='Marketing', employee_id='56-9817552', vehicle_make='Oldsmobile', vehicle_model='Intrigue', model_year=datetime.datetime(2000, 1, 1, 0, 0), created=datetime.datetime(2016, 4, 15, 11, 37, 17, tzinfo=datetime.timezone.utc), last_updated=datetime.datetime(2017, 3, 28, 12, 38, 29, tzinfo=datetime.timezone.utc))
AllData(ssn='104-84-7144', first_name='Claudianus', last_name='Brixey', gender='Male', language='Afrikaans', employer='Zemlak-Olson', department='Business Development', employee_id='46-2886707', vehicle_make='Ford', vehicle_model='Crown Victoria', model_year=datetime.datetime(2008, 1, 1, 0, 0), created=datetime.datetime(2016, 3, 15, 14, 7, 57, tzinfo=datetime.timezone.utc), last_updated=datetime.datetime(2018, 2, 19, 1, 34, 33, tzinfo=datetime.timezone.utc))

# Question 3

In [8]:
p = session14.FilteredData()

In [9]:
len([d for d in p])

997

# Question 4

In [10]:
session14.count_largest_car_group('Female')

{'Ford': 48}

In [21]:
session14.count_largest_car_group('Male')

{'Ford': 44}

Verifying results ..

In [15]:
import pandas as pd
vehicle_gender_data = pd.merge(pd.merge(pd.read_csv('Assignment/personal_info.csv'), pd.read_csv('Assignment/vehicles.csv')), pd.read_csv('Assignment/update_status.csv'))
vehicle_gender_data['last_updated'] = pd.to_datetime(vehicle_gender_data['last_updated']).dt.tz_localize(None)
vehicle_gender_data = vehicle_gender_data[vehicle_gender_data['last_updated'] > pd.Timestamp('2017-01-03')]
vehicle_gender_data.head()

,ssn,first_name,last_name,gender,language,vehicle_make,vehicle_model,model_year,last_updated,created
0,100-53-9824,Sebastiano,Tester,Male,Icelandic,Oldsmobile,Bravada,1993,2017-10-07 00:14:42,2016-01-24T21:19:30Z
1,101-71-4702,Cayla,MacDonagh,Female,Lao,Ford,Mustang,1997,2017-01-23 11:23:17,2016-01-27T04:32:57Z
2,101-84-0356,Nomi,Lipprose,Female,Yiddish,GMC,Yukon,2005,2017-10-04 11:21:30,2016-09-21T23:04:07Z
3,104-22-0928,Justinian,Kunzelmann,Male,Dhivehi,Oldsmobile,Intrigue,2000,2017-03-28 12:38:29,2016-04-15T11:37:17Z
4,104-84-7144,Claudianus,Brixey,Male,Afrikaans,Ford,Crown Victoria,2008,2018-02-19 01:34:33,2016-03-15T14:07:57Z

In [40]:
vehicle_gender_data.groupby(['gender', 'vehicle_make']).size().sort_values(ascending=True).groupby(level=0).tail(1).reset_index(name='count')

   gender vehicle_make  count
0    Male         Ford     44
1  Female         Ford     48